@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --grey-1: #0e1726;
    --grey-2: #171f2f;
    --grey-3: #cecece;
    --grey-4: #9f9f9f;
    --border-width: 2px;
    --border-1: #404040;
    --brand: #0369a1;
    --brand-2: #14b289;
    --yellow-1: #ffda7b;
    --yellow-2: #a27c1f;
}

body  {
    min-height: 100vh;
    
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    background-color: var(--grey-1);
    background-image: url('/images/pattern-1.svg');
    background-size: cover;
}